.footer__social-icon_vk {
    background-image: url("../../../../images/vk_color_white.svg");
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}
